@font-face {
  font-family: 'Taebaek';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Taebaek', -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #F8F8F7;
}
